* {
 	-fx-font-family:"Didot", Helvetica, Arial, sans-serif;	
}

#startscreen{
    -fx-background-image: url("testimage.jpg");
    -fx-background-size: 300 300;
    -fx-background-position: center center;
}

#title {
    	-fx-text-fill: white;
	-fx-font-size: 5.5em;
}

#button{
    	-fx-pref-width: 150px;	    
}

#board {
    -fx-background-image: url("chessboard.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain; 
}

.label {
	-fx-font-family : "Lucida Grande", sans-serif;
	-fx-font-size: 30px;
}

.toolbar {
	-fx-padding: 2px 4px;
	-fx-pref-height: 20px;	
	-fx-font-size: 1em;
}

.button:pressed {	
    -fx-background-color: grey;
}

.StartButton {
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
    	-fx-text-fill: white;
    	-fx-font-size: 1.2em;
  	-fx-background-radius: null;
  	}

.StartButton:pressed {
    -fx-background-color: linear-gradient(to right, rgba(20,20, 20, 0.8), rgba(20,20, 20, 0.8), rgba(20,20, 20, 0.0));	
}
