* {
 	-fx-font-family: "Times new Roman";
 	-fx-font-family: "Didot";
}

/* StartMenu */ 

#startscreen{
    -fx-background-image: url("startscreen.jpg");
    -fx-background-size: 300 300;
    -fx-background-position: center center;
}

#title {
    -fx-text-fill: white;
	-fx-font-size: 5.5em;
}

.StartButton {
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
  	-fx-background-radius: null;
  	}
  	
.StartButton:hover:pressed {
    -fx-background-color: linear-gradient(to right, rgba(20,20, 20, 0.7), rgba(20,20, 20, 0.7), rgba(20,20, 20, 0.0));
}

.StartButton:pressed {
    -fx-background-color: linear-gradient(to right, rgba(20,20, 20, 0.8), rgba(20,20, 20, 0.8), rgba(20,20, 20, 0.0));
}

/* Game */

#board {
    -fx-background-image: url("chessboard.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain; 
}

#top {
	-fx-background-image: url("top.jpg");	
}

#left {
	-fx-background-image: url("left.jpg");	
}

.toolbar {
	-fx-padding: 2px 4px;
	-fx-pref-height: 20px;	
}

.label {
	-fx-font-size: 2.4em;
}

